.linkGroup{
    height: 32px;
    width: 100%;
}

.hLine{
    display: flex;
    justify-content: space-around;
}

.hLine .first{
    border-top-left-radius: 15px;
}

.hLine .last{
    border-top-right-radius: 15px;
}

.linkTag{
    font-family: 'Architects Daughter', cursive;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    text-align: center;
    height: 32px;
    position: relative;
    font-size: 1.5rem;
    top: -5px;
    text-decoration: none;
    color: #2a81be;
}