.linkGroup{
    position: relative;
    right: 2%;
    top: -5%;
    height: 32px;
    width: 104%;
}

.hLine{
    display: flex;
    justify-content: space-around;
}

.linkTag{
    background-color: rgba(255, 255, 255, .5);
    width: 32%;
    text-align: center;
    height: 32px;
    position: relative;
    font-size: 18px;
    top: -5px;
    padding-top: 4px;
    letter-spacing: 1.5px;
    border-radius: 5px;
    text-decoration: none;
    color: #59a7df;
}