.bodyFormContainer{
    height: 74vh;
    display: flex;
    align-items: center;
}

.bodyFormContainer__form{

    width: 30%;
}

.bodyFormContainer__body{
 
   
    width: 70%;
}


.welcomeTextContainer{
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: 300;
    
    width: 80%;
}

.welcomeTextContainer div{
    letter-spacing: 3px;
    font-size: 55px;
}

.welcomeTextContainer p {
    line-height: 0;
}

.welcomeTextContainer__buttonGroup{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 15px;
    left: 10%;
    width: 80%;
}

.welcomeTextContainer__buttonGroup a{
    color: white;
    text-decoration: none;
    border-width: 1px;
    padding: 5px 20px;
    border-style: solid;
}

.welcomeTextContainer__buttonGroup button{
    font-size: 16px;
    padding: 8px 20px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    color: white;
    border-width: 1px;
}

@media (max-width: 650px){

    .bodyFormContainer{
        flex-direction: column-reverse;
        height: auto;
    }

    .bodyFormContainer__form{
        width: 100%;
    }

    .bodyFormContainer__body{
        padding: 0px 0px 25px 0px;
        width: 98%;
        margin: 0px 0px 15px 0px;
    }

}