.actionFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.actionFormContainer__nav{
    width: 80%;
    position: relative;
    top: 5px;
}

.actionFormContainer__form{
    width: 80%;
    height: 500px;
    background-color: #84CFF6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    margin: 0px auto 0px auto;
}