.fillFormContainer{

}



.dropzone{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #AEE0F9;
    margin-bottom: 25px;
}

.dropzone input{
    height: 130px;
    width: 100%;
    
}

.filepicker{
    
    cursor: pointer;
    opacity: 0;
}

.inputOverlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    pointer-events: none
}

.inputOverlay div{
    text-align: center;
    font-size: 12px;

}

.dropzone:hover{
    background-color: #8bb3c7;
}

.fillFormContainer_form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.fillFormContainer_form--input{
    height: 32px;
    margin: 5px 5px;
    background-color: #AEE0F9;
    border-width: 1px;
    border-color: #72afce;
    border-style: solid;
    padding: 0px 25px 0px 25px;
    
}


.fillFormContainer_form textarea{
    resize: none;
    margin: 25px 4px;
    border-style: none;
}

.fillFormContainer_form--button{
    width: 40%;
    letter-spacing: 1.5px;
    background: rgb(45,129,201);
    background: linear-gradient(90deg, rgba(45,129,201,1) 0%, rgba(17,215,216,1) 100%);
    border-style: none;
    border-radius: 25px;
    margin: 0px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    outline: none;
}

.fillFormContainer_form--buttonGrey{
    width: 40%;
    letter-spacing: 1.5px;
    background-color: #7e909e;
    border-style: none;
    border-radius: 25px;
    margin: 0px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}


.fillFormContainer_form--textarea{
    padding: 15px;
}

.verify--button{
    width: 170px;
    font-size: 20px;
    padding:10px;
    border-radius: 25px;
    border-style: none;
    color: white;
    letter-spacing: 2px;
    background: rgb(45,129,201);
    background: linear-gradient(90deg, rgba(45,129,201,1) 0%, rgba(17,215,216,1) 100%);
    position: relative;
    z-index: 2;
    cursor: pointer;
    outline: none;
}

.verify--code{
    position: relative;
    right: 10px;
    z-index: 1;
    border-color: white;
    border-style: solid;
    padding: 5px 0px 5px 25px;

}