
.WelcomeTextContainer{
    width: 80%;
    color: white;
   
}



.WelcomeTextContainer div span{
    font-size: 55px;
    font-weight: lighter;
}

.WelcomeTextContainer p{
    font-size: 20px;
}

.WelcomeTextContainer h2{
    font-size: 30px;
    width: 88%;
}


.WelcomeTextContainer__buttonGroup{
    display: flex;
    justify-content: space-between;
    width: 60%;

    margin-left: 200px;
}

.WelcomeTextContainer__buttonGroup--link{
    font-size:1.5rem;
    border-style: solid;
    padding: 10px 30px;
    border-color: white;
    color: white;
    text-decoration: none;
    border-width: 1px;
}





@media (max-width: 650px){
    .App{
        display: flex;
        flex-direction: column;
    }

    .WelcomeTextContainer{
        width: 80%;
        margin: 0px auto;
        font-size: 16px;
        color: white;
    }



    .WelcomeTextContainer div span{
        font-size: 25px;
    }

    .WelcomeTextContainer p{
        font-size: 20px;
    }

    .WelcomeTextContainer h2{
        font-size: 30px;
        width: 88%;
    }


    .WelcomeTextContainer__buttonGroup{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 0;
    }

    .WelcomeTextContainer__buttonGroup--link{
        font-size:1rem;
        border-style: solid;
        padding: 10px;
        border-color: white;
        color: white;
        text-decoration: none;
    }



}

