.pricingContainer{
    color: white;
}

.pricingContainer--header{
    font-size: 46px;
}

.pricingContainer--text{
    font-size: 20px;
    font-weight: lighter;
}

.cardContainer{
    text-align: center;
    width: 320px;
    height: 400px;
    margin: 15px;
    border-radius: 10px;
    background: rgb(47,147,207);
    background: linear-gradient(130deg, rgba(47,147,207,1) 0%, rgba(95,215,217,1) 100%);
}

.pricingContainer__cardSection{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.cardContainer--title{
    margin-top: 30px;
    font-size: 32px;
    letter-spacing: 2px;
}

.cardContainer--body{
    margin-top: 42px;
    font-size: 55px;

}

.card--button{
    width: 70%;
    margin: 5px auto;
    padding: 4px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: white;
    font-size: 24px;
    
    font-family: Architects Daughter;
    
}

@media (max-width: 650px){

    .pricingContainer{
        padding: 15px;
    }

    .cardContainer{
        width: 80%;
        height: 400px;
        margin: 15px;
        border-radius: 10px;
        background: rgb(47,147,207);
        background: linear-gradient(130deg, rgba(47,147,207,1) 0%, rgba(95,215,217,1) 100%);
    }

    .cardContainer--title{
        font-size: 26px;
    }

    .cardContainer--body{
        font-size: 45px;
    }

    .pricingContainer__cardSection{
        margin-top: 50px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

}